.r-popper-content-wrapper > *:only-child {
    visibility: visible !important;
    opacity: 1 !important;
}

.r-popper {
    display: inline-block;
    position: relative;
}

.r-popper.r-popper-fluid {
    width: 100%;
}

.r-popper .r-divider {
    // todo where is the divider
    margin: var(--space-m) 0;
}

.r-popper.r-popper-fluid {
    width: 100%;
}

.r-popper-content {
    padding: var(--popover-content-padding);
    border-bottom: var(--popover-content-divider);
}

.r-popper-content p, .r-popper-content ul, .r-popper-content ol, .r-popper-content pre, .r-popper-content table, .r-popper-content blockquote, .r-popper-content h1, .r-popper-content h2, .r-popper-content h3, .r-popper-content h4, .r-popper-content h5, .r-popper-content h6 {
    margin: 0;
}

.r-popper-content:first-child {
    border-radius: var(--popover-border-radius) var(--popover-border-radius) 0 0;
}

.r-popper-content:last-child {
    border-bottom: 0;
    border-radius: 0 0 var(--popover-border-radius) var(--popover-border-radius);
}

.r-popper-content .r-popper-title {
    margin: 0;
    padding: 8px 20px;
}

.r-popper-content .r-popper-item {
    white-space: nowrap;
    display: block;
    cursor: pointer;
    line-height: 20px;
    color: var(--popover-content-menu-item-color);
    box-sizing: border-box;
    padding: 8px 20px;
}

.r-popper-content .r-popper-item:hover, .r-popper-content .r-popper-itemfocus, .r-popper-content .r-popper-item:active, .r-popper-content .r-popper-item:hover, .r-popper-content .r-popper-item.is-active {
    text-decoration: none;
    background: var(--primary-color);
    color: var(--mono-color-0);
}

.r-popper-content .r-popper-item:hover svg, .r-popper-content .r-popper-item:focus svg, .r-popper-content .r-popper-item:active svg, .r-popper-content .r-popper-item.is-active svg {
    fill: var(--mono-color-0);
}

.r-popper-content .r-popper-item:hover .avatar .avatar-info-muted-text, .r-popper-content .r-popper-item:focus .avatar .avatar-info-muted-text, .r-popper-content .r-popper-item:active .avatar .avatar-info-muted-text {
    color: rgba(255, 255, 255, 0.6);
}

.r-popper-content .r-popper-item:hover .r-text-muted, .r-popper-content .r-popper-item:focus .r-text-muted, .r-popper-content .r-popper-item:active .r-text-muted {
    color: rgba(255, 255, 255, 0.6) !important;
}

.r-popper-content.r-is-scrollable {
    max-height: 196px;
    overflow-y: scroll;
}

/**
* Types
*/
.r-popper-content.r-popper-content-padded {
    padding: 16px;
}

.r-popper-content.r-popper-content-help {
    padding: 8px 16px;
    text-align: center;
    background: var(--background-color-light);
}

.r-popover {
    box-sizing: border-box;
    display: inline-block;
    min-width: var(--popover-min-width);
    position: absolute;
    background: var(--popover-background);
    box-shadow: var(--popover-box-shadow);
    border-radius: var(--popover-border-radius);
    z-index: var(--popover-z-index);
}

.r-popover.r-popover-centered {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.r-popover-title {
    padding: var(--popover-title-padding);
    display: flex;
    border-bottom: var(--popover-title-divider);
}

.r-popover-subtitle {
    display: flex;
    padding-bottom: var(--popover-subtitle-padding-bottom);
}

.r-popover-title > *,
.r-popover-subtitle > * {
    margin: 0;
    flex: 1 0 50%;
    min-width: 0;
}

.r-popover-title h2,
.r-popover-title h3 {
    padding: var(--popover-subtitle-h2-h3-padding);
}

.r-popover-control {
    max-height: var(--popover-max-height);
}

.r-popover-control.r-is-scrollable,
.r-popover-content.r-is-scrollable {
    overflow-y: scroll;
}

.r-popover-content {
    padding: var(--popover-content-padding);
}

.r-popover-content p, .r-popover-content ul, .r-popover-content ol, .r-popover-content pre, .r-popover-content table, .r-popover-content blockquote, .r-popover-content h1, .r-popover-content h2, .r-popover-content h3, .r-popover-content h4, .r-popover-content h5, .r-popover-content h6 {
    margin: 0;
}

.r-popover-content {
    border-bottom: var(--popover-content-divider);
}

.r-popover-content:last-child {
    border: none;
    border-radius: 0 0 var(--popover-border-radius) var(--popover-border-radius);
}

/**
* Types
*/
.r-popover-content.r-popover-content-secondary {
    background: var(--popover-content-secondary);
}

.r-popover-content.r-popover-menu {
    padding: var(--popover-content-menu-padding);
}

.r-popover-action-menu-item,
.r-popover-menu-item {
    padding: var(--popover-content-menu-item-padding);
    display: block;
    line-height: var(--popover-content-menu-item-line-height);
    font-weight: var(--popover-content-menu-item-font-weight);
    color: var(--popover-content-menu-item-color);
    cursor: var(--popover-content-menu-item-cursor);
}

.r-popover-action-menu-item:hover, .r-popover-action-menu-item:focus, .r-popover-action-menu-item:active,
.r-popover-menu-item:hover,
.r-popover-menu-item:focus,
.r-popover-menu-item:active {
    background: var(--popover-content-menu-item-hover-background);
    text-decoration: none;
    color: var(--popover-content-menu-item-hover-color);
}

.r-popover-action-menu-item.r-popover-menu-item-negative:hover, .r-popover-action-menu-item.r-popover-menu-item-negative:focus, .r-popover-action-menu-item.r-popover-menu-item-negative:active,
.r-popover-menu-item.r-popover-menu-item-negative:hover,
.r-popover-menu-item.r-popover-menu-item-negative:focus,
.r-popover-menu-item.r-popover-menu-item-negative:active {
    background: var(--popover-content-menu-item-negative-hover-background);
    color: var(--popover-content-menu-item-negative-hover-color);
}

.r-popover-action-menu-item:hover .icon,
.r-popover-menu-item:hover .icon {
    fill: var(--popover-content-menu-item-hover-icon-color);
}

.r-popover-action-menu-item:hover .avatar-info-muted-text, .r-popover-action-menu-item:focus .avatar-info-muted-text, .r-popover-action-menu-item:active .avatar-info-muted-text,
.r-popover-menu-item:hover .avatar-info-muted-text,
.r-popover-menu-item:focus .avatar-info-muted-text,
.r-popover-menu-item:active .avatar-info-muted-text {
    color: var(--popover-content-menu-item-avatar-hover-color);
}

.r-popover.r-popover-dark {
    background: var(--popover-dark-background);
    box-shadow: var(--popover-dark-box-shadow);
}

.r-popover.r-popover-dark .r-popover-title {
    border-bottom: var(--popover-dark-title-divider);
}

.r-popover.r-popover-dark .r-popover-content {
    border-bottom: var(--popover-dark-content-divider);
}

.r-popover.r-popover-dark .r-popover-content:last-child {
    border: none;
}

//.r-popover.r-popover-dark .r-popover-arrow::after {
//    background: #505A6F;
//    box-shadow: 0 1px 2px 0 rgba(107, 115, 132, 0.24), 4px 0 4px 0 rgba(107, 115, 132, 0.05);
//}

.r-popover.r-popover-dark * {
    color: var(--popover-dark-content-color);
}

.r-popover.r-popover-dark *.r-text-muted {
    color: var(--popover-dark-content-text-muted) !important;
}

.r-popover.r-popover-dark .r-popover-content.r-popover-content-secondary {
    background: var(--popover-dark-content-secondary-background);
}

.r-popover.r-popover-dark .r-popover-menu-item {
    padding: var(--popover-dark-content-menu-item-padding);
    cursor: var(--popover-dark-content-menu-item-cursor);
    color: var(--popover-dark-content-menu-item-color);
    line-height: var(--popover-dark-content-menu-item-line-height);
    font-weight: var(--popover-dark-content-menu-item-font-weight);
}

.r-popover.r-popover-dark .r-popover-menu-item .icon {
    fill: var(--popover-dark-content-menu-item-hover-icon-color);
}

.r-popover.r-popover-dark .r-popover-menu-item .avatar-info .avatar-info-muted-text {
    color: var(--gray-color-light);
}

.r-popover.r-popover-dark .r-popover-menu-item:hover, .r-popover.r-popover-dark .r-popover-menu-item:focus, .r-popover.r-popover-dark .r-popover-menu-item:active {
    background: var(--popover-dark-content-menu-item-hover-background);
    color: var(--popover-dark-content-menu-item-hover-color);
}

.r-popover.r-popover-dark .r-popover-menu-item:hover .avatar-info .avatar-info-muted-text {
    color: var(--popover-dark-content-text-muted);
}
