// -----------------------------------------------------------------------------
// This file contains all styles related to the breadcrumb component.
// -----------------------------------------------------------------------------

.breadcrumb {
    width: 100%;
    clear: both;
    content: '';
    display: table;
    @include transition(all .3s ease);
}

.breadcrumb ul {
    list-style: none;
    margin: 0;
    @include rem(margin-left, -$space-s);
    padding: 0;
}

.breadcrumb ul > li {
    float: left;
}

.breadcrumb .btn {
    background: transparent;
    box-shadow: none;
    @include rem(padding, $space-xs $space-s $space-xs $space-xxs);
    color: $muted;

    &:hover {
        color: $text;
    }

    &:active {
        background: #FFFFFF;
    }
}
