// -----------------------------------------------------------------------------
// This file contains all styles related to the list component.
// -----------------------------------------------------------------------------

ul, ol { margin: 0; }

.list {
    padding-left: 0;
    list-style: none;
}

.list-item {
    position: relative;
    @include display-flex;
    @include flex-wrap(nowrap);
    @include rem(padding, $space-xs 0);
}

.list-item::before {
    content: '\2022';
    @include rem(margin-right, $space-s);
    color: $gray;
}

.list-item:first-child {
    padding-top: 0!important;
}

.list-item:last-child {
    padding-bottom: 0!important;
}

.list-item.is-active {
    background: $faint-gray;
}

// Divided
.list.list-divided > .list-item {
    @include rem(padding, $space-s 0);
}

.list.list-divided > .list-item {
    border-bottom: 1px solid $faint-gray;
}

.list.list-divided > .list-item:last-child {
    border-bottom: none;
}

// Hoverable
.list.list-hoverable .list-item:hover {
    background: $background;
}

.list.list-hoverable .list-item {
    @include rem(padding, $space-xs $space-xs!important);
}

// Relaxed
.list.list-relaxed > .list-item {
    @include rem(padding, $space-s 0);
}

.list.list-relaxed.list-divided > .list-item {
    @include rem(padding, $space-m 0);
}

.list.list-relaxed.list-hoverable > .list-item {
    @include rem(padding, $space-s $space-s!important);
}

// Compact
.list.list-compact .list-item {
    @include rem(padding, $space-xxs 0);
}

.list.list-compact.list-divided .list-item {
    @include rem(padding, $space-xxs 0);
}

.list.list-compact.list-hoverable .list-item {
    @include rem(padding, $space-xxs $space-xxs!important);
}

/**
* List Group
*/
.list.list-group > .list-item::before {
    display: none;
}

.list.list-group .list-item > * {
    @include flex(1 0);
}

.list.list-group .list-item > *.list-item-content-primary {
    @include flex(2 0);
}

/**
* Draggable List
**/

.list.list-draggable {
    @include browser-prefix('user-select', none);

    .list-item.is-draggable {
        cursor: move;
    }
    .list-item:not(.is-draggable) {
        color: $muted;
    }
}

