// -----------------------------------------------------------------------------
// This file contains all styles related to the tooltip components.
// -----------------------------------------------------------------------------

/* Base styles for the element that has a tooltip */

.r-tooltip {
    padding: var(--tooltip-padding);
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--tooltip-border-radius);
    white-space: nowrap;
    font-size: var(--tooltip-font-size);
    line-height: var(--tooltip-line-height);
    font-weight: var(--tooltip-font-weight);
    z-index: var(--tooltip-z-index);
    box-shadow: var(--tooltip-box-shadow);
    transition: var(--tooltip-transition);
    opacity: 0;
}

.r-tooltip-arrow {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    width: 2px;
    height: 2px;
    position: absolute;
    pointer-events: none;
    background: var(--tooltip-background-color);
    transform: rotate(45deg);
    margin-left: -4px;
    margin-top: -4px;
}

.r-tooltip.r-tooltip-out-right .r-tooltip-arrow {
    left: 80%;
}

.r-tooltip.r-tooltip-out-left .r-tooltip-arrow {
    left: 20%;
}

.r-tooltip.r-tooltip-out-top .r-tooltip-arrow,
.r-tooltip.r-tooltip-bottom .r-tooltip-arrow {
    top: 0;
}

.r-tooltip.r-tooltip-left .r-tooltip-arrow {
    left: 100%;
    margin-left: -4px;
    top: 50%;
}

.r-tooltip.r-tooltip-right .r-tooltip-arrow {
    left: 0;
    margin-left: -4px;
    top: 50%;
}
