.r-loader {
    position: absolute;
    z-index: $z-max;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-out;

    .wrapper {
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
        background: var(--gray-color);
        border-radius: $border-radius;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        > * {
            transition: height .3s ease;
            display: block;
            position: absolute;
            transform-origin: top;
            transform: rotate(180deg);
            width: 4px;
            background: var(--background-color);
        }
    }

    .mr-re {
        top: 28px;
        left: 9px;
        height: 14px;
        animation: mr-re-reset .5s normal;
    }

    .mr-bil {
        top: 28px;
        left: 16px;
        height: 17px;
        animation: mr-bil-reset .5s normal;
    }

    .mr-ly {
        top: 28px;
        left: 23px;
        height: 20px;
        animation: mr-ly-reset .5s normal;
    }

    &--loading {
        .mr-re {
            height: 0px;
            animation: mr-re-animation 1s infinite;
        }

        .mr-bil {
            height: 0px;
            animation: mr-bil-animation 1s .2s infinite;
        }

        .mr-ly {
            height: 0px;
            animation: mr-ly-animation 1s .4s infinite;
        }
    }

    &--fullscreen {
        position: fixed;
        background: var(--background-color);
    }
}

@keyframes mr-re-animation {
    0% {
        height: 0;
    }
    50% {
        height: 14px;
    }
    100% {
        height: 0;
    }
}

@keyframes mr-re-reset {
    0% {
        height: 0;
    }
    100% {
        height: 14px;
    }
}

@keyframes mr-bil-animation {
    0% {
        height: 0;
    }
    50% {
        height: 17px;
    }
    100% {
        height: 0;
    }
}

@keyframes mr-bil-reset {
    0% {
        height: 0;
    }
    100% {
        height: 17px;
    }
}

@keyframes mr-ly-animation {
    0% {
        height: 0;
    }
    50% {
        height: 20px;
    }
    100% {
        height: 0;
    }
}

@keyframes mr-ly-reset {
    0% {
        height: 0;
    }
    100% {
        height: 20px;
    }
}
