fieldset[disabled] .r-select {
    pointer-events: none;
}

.r-select-loading-spinner {
    display: block;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 30px;
    width: 40px;
    border-radius: var(--select-spinner-border-radius);
    background: var(--select-spinner-background-color);
}

.r-select-loading-spinner:before,
.r-select-loading-spinner:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
    border-color: var(--select-border-color) transparent transparent;
}

.r-select-loading-spinner:before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
}

.r-select-loading-spinner:after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
}

// TODO where is usage
.r-select-loading-enter-active,
.r-select-loading-leave-active {
    transition: var(--select-loading-transition);
    opacity: 1;
}

// TODO where is usage
.r-select-loading-enter,
.r-select-loading-leave-active {
    opacity: 0;
}

.r-select,
.r-select-input,
.r-select-single {
    touch-action: manipulation;
    line-height: var(--input-line-height);
    font-size: var(--input-font-size);
    margin-bottom: 0;
}

.r-select {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    height: var(--select-height);
    min-height: var(--select-min-height);
    text-align: var(--select-text-align);
    color: var(--select-text-color);
}

.r-select * {
    box-sizing: border-box;
}

.r-select:focus {
    outline: none;
}

.r-select-is-disabled {
    background: var(--select-disabled-background);
    color: var(--select-disabled-color);
    pointer-events: none;
    opacity: var(--select-disabled-opacity);

}

.r-select-is-active {
    z-index: var(--select-z-index);
}

.r-select-is-active .r-select-tags {
    box-shadow: var(--select-active-box-shadow);
}

.r-select-input,
.r-select-single {
    position: relative;
    display: inline-block;
    min-height: var(--select-input-min-height);
    line-height: var(--select-line-height);
    border: none;
    border-radius: var(--select-border-radius);
    width: calc(100%);
    transition: var(--select-input-transition);
    box-sizing: border-box;
    margin: var(--select-input-margin);
    vertical-align: top;
    background: var(--select-input-background);
}

.r-select-input {
    padding: var(--select-input-padding);
}

.r-select-input::placeholder {
    color: var(--select-placeholder-color);
    font-family: var(--select-input-font-family);
}

.r-select-tag ~ .r-select-input,
.r-select-tag ~ .r-select-single {
    width: auto;
}

.r-select-input:hover,
.r-select-single:hover {
    border-color: var(--select-hover-border-color);
}

.r-select-input:focus,
.r-select-single:focus {
    border-color: var(--select-focus-border-color);
    outline: none;
}

.r-select-single {
    padding: var(--select-single-padding);
    margin: var(--select-single-margin);
}

.r-select-tags-wrap {
    display: inline;
}

.r-select-tags {
    min-height: var(--select-min-height);
    display: block;
    padding: var(--select-tags-padding);
    border-radius: var(--select-tags-border-radius);
    border: 1px solid var(--select-tags-border-color);
    background: var(--select-tags-background);
    font-size: var(--select-tags-font-size);
    box-shadow: var(--select-tags-box-shadow);
}

.r-select-tags .r-badge .r-badge-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.r-is-error .r-select-tags {
    box-shadow: 0 0 0 1px var(--negative-color-dark) inset;
    background: rgba(255, 212, 211, 0.6);
}

.r-select-tag-text {
    width: calc(100% - 16px - var(--badge-tag-icon-margin-left));
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: baseline;
}

// TODO where is usage
.r-select-current {
    line-height: 16px;
    min-height: 40px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: var(--select-current-padding);
    white-space: nowrap;
    margin: var(--select-current-padding);
    text-decoration: none;
    border-radius: var(--select-border-radius);
    border: 1px solid var(--select-current-border-color);
    cursor: pointer;
}

.r-select-caret {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 34px;
    height: 36px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: var(--select-transition);
}

.r-select-placeholder {
    color: var(--select-placeholder-color);
    display: inline-block;
    margin-bottom: var(--select-placeholder-margin-bottom);
    padding: var(--select-placeholder-padding);
}

.r-select-is-active .r-select-placeholder {
    display: none;
}

.r-select-content-wrapper {
    position: absolute;
    display: block;
    background: var(--select-wrapper-background-color);
    width: 100%;
    max-height: var(--select-wrapper-max-height);
    overflow: auto;
    z-index: var(--select-wrapper-z-index);
    padding: var(--select-wrapper-padding);
    top: calc(100% + 4px);
    border-radius: var(--select-border-radius);
    border: none;
    box-shadow: var(--select-wrapper-box-shadow);
}

.r-select-content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    vertical-align: top;
}

.r-select-is-above .r-select-content-wrapper {
    bottom: 100%;
    border-bottom: none;
    border-top: 1px solid var(--select-wrapper-border-color);
    top: inherit;
    margin-bottom: var(--select-above-margin-bottom);
}

.r-select-content::webkit-scrollbar {
    display: none;
}

.r-select-content-element {
    display: block;
}

.r-select-content-element-option {
    display: block;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--select-line-height);
    padding: var(--select-option-padding);
    min-height: var(--select-option-min-height);
    font-size: var(--select-option-font-size);
}

.r-select-content-element-option:after {
    position: absolute;
    padding-right: var(--select-option-actions-padding);
    padding-left: var(--select-option-actions-padding);
    font-size: var(--select-option-font-size);
    line-height: var(--select-line-height);
    top: var(--select-option-actions-top);
    right: var(--select-option-actions-right);
}

.r-select-option-is-highlight,
.r-select-option-is-highlight:after {
    content: attr(data-select);
    background: var(--select-highlight-color);
    color: var(--select-highlight-font-color);
}

.r-select-option-is-selected {
    color: var(--select-selected-font-color);
    font-weight: var(--select-selected-font-weight);
    background: var(--select-background-color);
}

.r-select-option-is-selected:after {
    content: attr(data-selected);
    color: var(--select-selected-after-color);
}

.r-select-option-is-selected.r-select-option-is-highlight,
.r-select-option-is-selected.r-select-option-is-highlight:after {
    background: var(--select-background-color);
    color: var(--select-selected-font-color);
    cursor: pointer;
}

// // TODO where is usage
.r-select-is-disabled .r-select-caret {
    background: transparent;
    color: var(--select-disabled-color);
}

.r-select-enter-active,
.r-select-leave-active {
    transition: var(--select-enter-leave-transition);
}

.r-select-enter,
.r-select-leave-active {
    opacity: 0;
}

.r-select-limit {
    margin-bottom: 8px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(2turn);
    }
}

.r-select-content-element-option-load {
    line-height: normal;
    padding: 0;
    min-height: auto;
    position: relative;
}

.r-select-content-element-option-load-prev {
    top: -4px;
}

.r-select-content-element-option-load-next {
    bottom: -4px;
}

//.r-select-is-allow-empty .r-select-content-element-option.r-select-option-is-highlight.r-select-option-is-selected:hover span::after {
//    content: '';
//    position: absolute;
//    right: 16px;
//    bottom: 0;
//    width: 36px;
//    cursor: pointer;
//    height: 36px;
//    box-shadow: -16px 0 16px -8px var(--select-background-color);
//    background: url('/static/icons/close-s.svg') center no-repeat var(--select-background-color);
//}

.r-select-fixed .r-select-content-wrapper {
    position: relative;
    top: 4px;
    max-height: 230px !important;
    display: block;
}

//Label
.r-is-error .r-field-label {
    color: var(--input-is-error-color);
}
