fieldset[disabled] .r-select {
    pointer-events: none;
}

.r-select__spinner {
    display: block;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 34px;
    width: 40px;
    border-radius: var(--select-spinner-border-radius);
    background: var(--select-spinner-background-color);
}

.r-select__spinner:before,
.r-select__spinner:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
    border-color: var(--select-border-color) transparent transparent;
}

.r-select__spinner:before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
}

.r-select__spinner:after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
}

.r-select__loading-enter-active,
.r-select__loading-leave-active {
    transition: var(--select-loading-transition);
    opacity: 1;
}

.r-select__loading-enter,
.r-select__loading-leave-active {
    opacity: 0;
}

.r-select,
.r-select__input,
.r-select__single {
    font-family: inherit;
    touch-action: manipulation;
    line-height: var(--input-line-height);
    font-size: var(--input-font-size);
}

.r-select {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: left;
    color: var(--select-text-color);
}

.r-select * {
    box-sizing: border-box;
}

.r-select:focus {
    outline: none;
}

.r-select--disabled {
    background: #ededed;
    pointer-events: none;
    opacity: 0.6;
}

.r-select--active {
    z-index: 50;
}

.r-select--active:not(.r-select--above) .r-select__current,
.r-select--active:not(.r-select--above) .r-select__input,
.r-select--active:not(.r-select--above) .r-select__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.r-select--above.r-select--active .r-select__current,
.r-select--above.r-select--active .r-select__input,
.r-select--above.r-select--active .r-select__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.r-select__input,
.r-select__single {
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    padding: 0 0 0 5px;
    width: calc(100%);
    transition: border 0.1s ease;
    box-sizing: border-box;
    margin-bottom: 8px;
    vertical-align: top;
    background: transparent;
}

.r-select__input::placeholder {
    color: var(--select-placeholder-color);
}

.r-select__tag ~ .r-select__input,
.r-select__tag ~ .r-select__single {
    width: auto;
}

.r-select__input:hover,
.r-select__single:hover {
    border-color: var(--select-hover-border-color);
}

.r-select__input:focus,
.r-select__single:focus {
    border-color: var(--select-focus-border-color);
    outline: none;
}

.r-select__single {
    padding-left: 5px;
    margin-bottom: 8px;
}

.r-select__tags-wrap {
    display: inline;
}

.r-select__tags {
    min-height: 40px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
}

.r-select__tag {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    border-radius: 2px;
    background: #E1E7EA;
    color: #6B7384;
    line-height: 16px;
    margin: 0 0.4rem 0.2rem 0;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.r-select__tag-icon {
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: $bold;
    font-style: initial;
    transition: all 0.2s ease;
    margin-left: 4px;
    position: relative;
    line-height: 16px;
    display: block;
    float: right;
    text-align: center;
    width: 16px;
    border-radius: none;
}

.r-select__tag-icon:after {
    content: '×';
    color: #266d4d;
    font-size: 14px;
}

.r-select__tag-icon:focus,
.r-select__tag-icon:hover {
    background: none;
    color: #6B7384;
}

.r-select__tag-icon:focus:after,
.r-select__tag-icon:hover:after {
    color: #6B7384;
}

.r-select__current {
    line-height: 16px;
    min-height: 40px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 8px 12px 0;
    padding-right: 30px;
    white-space: nowrap;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}

.r-select__select {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 38px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    background: url('/static/icons/caret-down.svg') center no-repeat;
}

.r-select__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px;
}

.r-select--active .r-select__placeholder {
    display: none;
}

.r-select__content-wrapper {
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    z-index: 50;
    -webkit-overflow-scrolling: touch;
    padding: 0.8rem 0 0.8rem 0;
    top: 40px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px rgba(107, 115, 132, 0.09), 0 7px 14px 0 rgba(107, 115, 132, 0.15), 0 3px 6px 0 rgba(107, 115, 132, 0.07);
}

.r-select__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    vertical-align: top;
}

.r-select--above .r-select__content-wrapper {
    bottom: 100%;
    border-bottom: none;
    border-top: 1px solid #e8e8e8;
    top: inherit;
    border-radius: 4px;
    margin-bottom: 4px;
}

.r-select__content::webkit-scrollbar {
    display: none;
}

.r-select__element {
    display: block;
}

.r-select__option {
    display: block;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    padding: 0.8rem 1.6rem;
    min-height: 36px;
    font-size: 1.4rem;
}

.r-select__option:after {
    right: 0;
    position: absolute;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px;
    line-height: 20px;
    top: 8px;
}

.r-select__option--highlight,
.r-select__option--highlight:after {
    content: attr(data-select);
    background: #0044D4;
    color: white;
}

.r-select__option--selected {
    color: #0D2B3E;
    font-weight: $bold;
    background: var(--select-background-color);
}

.r-select__option--selected:after {
    content: attr(data-selected);
    color: silver;
}

.r-select__option--selected.r-select__option--highlight,
.r-select__option--selected.r-select__option--highlight:after {
    background: var(--select-background-color);
    color: #0D2B3E;
    cursor: pointer;
}

.r-select--disabled .r-select__current,
.r-select--disabled .r-select__select {
    background: transparent;
    color: #6B7384;
}

.r-select__option--disabled {
    cursor: text;
    pointer-events: none;
    background: transparent;
    color: #6B7384;
}

.r-select-enter-active,
.r-select-leave-active {
    transition: all 0.15s ease;
}

.r-select-enter,
.r-select-leave-active {
    opacity: 0;
}

.r-select__strong {
    margin-bottom: 8px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}

*[dir='rtl'] .r-select {
    text-align: right;
}

*[dir='rtl'] .r-select__select {
    right: auto;
    left: 1px;
}

*[dir='rtl'] .r-select__tags {
    padding: 8px 8px 0px 40px;
}

*[dir='rtl'] .r-select__content {
    text-align: right;
}

*[dir='rtl'] .r-select__option:after {
    right: auto;
    left: 0;
}

*[dir='rtl'] .r-select__clear {
    right: auto;
    left: 12px;
}

*[dir='rtl'] .r-select__spinner {
    right: auto;
    left: 1px;
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(2turn);
    }
}

.r-select__option-load {
    line-height: normal;
    padding: 0;
    min-height: auto;
    position: relative;
}

.r-select__option-load-prev {
    top: -4px;
}

.r-select__option-load-next {
    bottom: -4px;
}

//.r-select--allow-empty .r-select__option.r-select__option--highlight.r-select__option--selected:hover span::after {
//    content: '';
//    position: absolute;
//    right: 16px;
//    bottom: 0;
//    width: 36px;
//    cursor: pointer;
//    height: 36px;
//    box-shadow: -16px 0 16px -8px var(--select-background-color);
//    background: url('/static/icons/close-s.svg') center no-repeat var(--select-background-color);
//}

.r-select--fixed .r-select__content-wrapper {
    position: relative;
    top: 4px;
    max-height: 230px !important;
    display: block;
}
