.r-checkbox {
    position: relative;
}

input.r-field-checkbox[type=checkbox] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: var(--space-m);
    width: var(--space-m);
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;

    &:checked ~ .r-field-checkbox-style {
        background: var(--checkbox-checked-background);
        box-shadow: var(--checkbox-checked-box-shadow);
        border: var(--checkbox-checked-border);
    }

    &:focus ~ .r-field-checkbox-style {
        background: var(--checkbox-focus-background);
        box-shadow: var(--checkbox-focus-box-shadow);
        border: var(--checkbox-focus-border);
    }

    &:checked ~ .r-field-checkbox-style .r-icon {
        fill: var(--checkbox-checked-icon-color);
        opacity: 1;
    }

    &[disabled] ~ .r-field-checkbox-style {
        background: var(--checkbox-disabled-background);
        box-shadow: var(--checkbox-disabled-box-shadow);
    }
}

.r-field-checkbox-style {
    cursor: pointer;
    box-sizing: border-box;
    background: var(--checkbox-background);
    height: var(--space-m);
    width: var(--space-m);
    position: absolute;
    top: var(--space-xxs);
    left: var(--space-xxs);
    border-radius: var(--checkbox-border-radius);
    box-shadow: var(--checkbox-box-shadow);
    transition: var(--checkbox-transition);
    border: var(--checkbox-border);
}

.r-field-checkbox-style .r-icon {
    position: absolute;
    top: calc(var(--space-xxs) * -1);
    right: calc(var(--space-xxs) * -1);
    opacity: 0;
}

.r-field-label-toggle {
    display: inline-block;
    color: var(--checkbox-label-color);
    line-height: var(--checkbox-label-line-height);
    font-size: var(--checkbox-label-font-size);
    font-weight: var(--checkbox-label-font-weight);
    position: relative;
    padding-left: var(--checkbox-label-left-space);
    margin: 0;
    cursor: pointer;
}

.r-field-label-toggle.is-disabled {
    color: var(--checkbox-label-disabled-color);
}

.r-field-caption-toggle {
    padding-left: var(--checkbox-captions-left-space);
    margin-top: var(--checkbox-captions-margin-top);
}

.r-field-caption {
    display: block;
    color: var(--checkbox-caption-color);
    line-height: var(--checkbox-caption-line-height);
    font-size: var(--checkbox-caption-font-size);
    font-weight: var(--checkbox-caption-font-weight);
    margin-top: var(--space-xs);
}
