.r-checkbox {
    position: relative;
}

.r-field-checkbox {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: var(--space-m);
    width: var(--space-m);
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;

    &:checked ~ .r-field-checkbox-style {
        background: var(--mono-color-0);
        box-shadow: 0 0 0 1px var(--primary-color) inset, 0 1px 2px 0 var(--mono-color-300) inset, 0 0 0 1px var(--primary-color);
        border: none;
    }

    &:focus ~ .r-field-checkbox-style {
        background: var(--mono-color-0);
        box-shadow: 0 0 0 1px var(--primary-color) inset, 0 1px 2px 0 var(--mono-color-300) inset, 0 0 0 1px var(--primary-color);
        border: none;
    }

    &:checked ~ .r-field-checkbox-style .r-icon {
        fill: var(--primary-color);
        opacity: 1;
    }

    &[disabled] ~ .r-field-checkbox-style {
        background: var(--mono-color-100);
        box-shadow: 0 0 0 1px var(--gray-color) inset;
    }
}

.r-field-checkbox-style {
    cursor: pointer;
    box-sizing: border-box;
    background: var(---mono-color-0);
    height: var(--space-m);
    width: var(--space-m);
    position: absolute;
    top: var(--space-xxs);
    left: var(--space-xxs);
    border-radius: var(--border-radius-xxs);
    box-shadow: 0 0 0 1px var(--gray-color) inset, 0 1px 2px 0 var(--mono-color-300) inset;
    transition: box-shadow var(--timing-100) var(--animation-ease);
    border: none;
}

.r-field-checkbox-style .r-icon {
    position: absolute;
    top: -2px;
    right: -2px;
    opacity: 0;
}
