.r-checkbox {
    position: relative;
}

.r-field-checkbox {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: var(--space-m);
    width: var(--space-m);
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;

    &:checked ~ .r-field-checkbox-style {
        background: var(--checkbox-checked-background);
        box-shadow: var(--checkbox-checked-box-shadow);
        border: var(--checkbox-checked-border);
    }

    &:focus ~ .r-field-checkbox-style {
        background: var(--checkbox-focus-background);
        box-shadow: var(--checkbox-focus-box-shadow);
        border: var(--checkbox-focus-border);
    }

    &:checked ~ .r-field-checkbox-style .r-icon {
        fill: var(--checkbox-checked-icon-color);
        opacity: 1;
    }

    &[disabled] ~ .r-field-checkbox-style {
        background: var(--checkbox-disabled-background);
        box-shadow: var(--checkbox-disabled-box-shadow);
    }
}

.r-field-checkbox-style {
    cursor: pointer;
    box-sizing: border-box;
    background: var(--checkbox-background);
    height: var(--space-m);
    width: var(--space-m);
    position: absolute;
    top: var(--space-xxs);
    left: var(--space-xxs);
    border-radius: var(--checkbox-border-radius);
    box-shadow: var(--checkbox-box-shadow);
    transition: var(--checkbox-transition);
    border: var(--checkbox-border);
}

.r-field-checkbox-style .r-icon {
    position: absolute;
    top: -2px;
    right: -2px;
    opacity: 0;
}
