html {
    font-size: 62.5%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

:root {
    --background-color: #F6F8F9;
    --primary-color: #0044D4;
    --primary-color-dark: #00236e;
    --primary-color-light: #2600d4;
    --warning-color: #F1C400;
    --text-color: #0D2B3E;

    --light-red-color: #FFD4D3;
    --light-gray-color: #C4CED8;
    --light-blue-color: #DCE7FE;
    --light-green-color: #C4F7CA;
    --light-yellow-color: #FFF0AD;
    --faint-gray-color: #E1E7EA;

    --primary-font-stack: 'Roboto', sans-serif;
    --secondary-font-stack: 'Montserrat', sans-serif;
}

.r-component {
    
}

// Temporal variables, should be removed
$blue: #0044D4;
$gray: #A1B2C1;
$red: #E53935;
$yellow: #F1C400;
$light-gray: #C4CED8;
