// Border radius
$border-radius: 4px;

// Layout rules
$base-font-size: 10;
$space-default: 20px;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Line-height
$line-height: 20px;

// Z-Index
$z-modal: 2000;
$z-top: 1000;
$z-max: 800;
$z-mid: 500;
$z-low: 100;
$z-90: 90;
$z-80: 80;
$z-70: 70;
$z-60: 60;
$z-50: 50;
$z-40: 40;
$z-30: 30;
$z-20: 20;
$z-10: 10;