// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------

.r-field,
.r-field-control {
    position: relative;
}

.r-field-label {
    display: block;
    font-family: var(--input-label-font-family);
    color: var(--input-label-color);
    margin-bottom: var(--input-label-margin-bottom);
}

.r-field-input, .r-field-editable {
    min-width: 70px;
    width: 100%;
    height: auto;
    vertical-align: baseline;
    padding: var(--input-padding);
    appearance: none;
    border-radius: var(--input-border-radius);
    display: block;
    color: var(--input-color);
    box-sizing: border-box;
    margin: 0;
    border: var(--input-border);
    box-shadow: var(--input-box-shadow);
    text-transform: initial;
    letter-spacing: initial;
    font-family: var(--input-font-family);
    font-weight: var(--input-font-weight);
    font-size: var(--input-font-size);
    line-height: var(--input-line-height);
    transition: var(--input-transition);
    outline: none;

    &:focus {
        box-shadow: inset 0 0 0 2px var(--primary-color);
    }
}

.r-field.r-is-error .r-field-label,
.r-field.r-is-error label {
    color: var(--input-is-error-color);
}

.r-field.r-is-error .r-field-input,
.r-field.r-is-error input {
    color: var(--input-is-error-color);
    box-shadow: var(--input-is-error-box-shadow);
    background: var(--input-is-error-background);

    &:focus {
        box-shadow: var(--input-focus-is-error-box-shadow);
    }
}

.r-field-caption {
    display: block;
    color: var(--input-caption-color);
    margin-top: var(--input-caption-margin-top);
}

/**
* Input Icons
*/
.r-field-control.r-has-icon-right .r-icon:last-child,
.r-field-control.r-has-image-right .image-card {
    position: absolute;
    top: var(--input-icon-top);
    right: var(--input-icon-right);
}

.r-field-control.r-has-icon-right .r-field-input {
    padding: var(--input-has-icon-right-padding);
}

.r-field-control.r-has-icon-left .r-icon:first-child {
    position: absolute;
    top: var(--input-icon-top);
    left: var(--input-icon-left);
}

.r-field-control.r-has-icon-left .r-field-input {
    padding: var(--input-has-icon-left-padding);
}

.r-field .r-field-control.r-has-icon-right .r-icon,
.r-field .r-field-control.r-has-icon-left .r-icon {
    fill: var(--input-icon-color);
}

.r-field.r-is-error .r-field-control.r-has-icon-right .r-icon,
.r-field.r-is-error .r-field-control.r-has-icon-left .r-icon {
    fill: var(--input-is-error-icon-color);
}

/**
* Textarea
*/
textarea.r-field-input {
    resize: none;
}

@-moz-document url-prefix() {
    textarea.r-field-input {
        min-height: 36px;
    }
}

/**
* Input Addon
*/
.r-field-addon {
    @extend .r-field-input;
    width: auto;
    min-width: auto;
    box-shadow: var(--input-addon-box-shadow);
    background: var(--input-addon-background);
    text-align: center;
}

.r-field-addon.r-field-addon-clear {
    background: transparent;
    box-shadow: none;
}

.r-field-addon.r-field-addon-clear:first-child {
    padding-left: 0;
}

.r-field-addon .r-field-label-toggle {
    margin-bottom: 0;
}

// Removing Firefox dotted line
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--mono-color-1000);
}

/**
* Input Size Variations
*/
.r-field.r-field-auto-width {
    display: inline-block;
    @include media-query-breakpoint('tablet', $type: max) {
        display: block;
    }
}

/**
* Input Group
*/
.r-field-group {
    display: flex;
}

.r-field-group > * {
    flex: 1 0;
    margin-left: -0.1rem;
}

.r-field-group > *:not(:first-child):not(:last-child),
.r-field-group > *:not(:first-child):not(:last-child) .r-field-input {
    border-radius: 0;
    z-index: var(--z-index-10);
}

.r-field-group > *:first-child,
.r-field-group > *:first-child .r-field-input {
    border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
}

.r-field-group > *:last-child,
.r-field-group > *:last-child .r-field-input {
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
}

.r-field-group > *:only-child,
.r-field-group > *:only-child .r-field-input,
.r-field-group > *:first-child:last-child,
.r-field-group > *:first-child:last-child .r-field-input {
    border-radius: var(--input-border-radius);
}

/**
* Input Disabled
*/
.r-field-input[disabled] {
    background: var(--input-disabled-background);
    box-shadow: var(--input-disabled-box-shadow);
    color: var(--input-disabled-color);
}

/**
* Placeholders
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--input-placeholder-color);
}

::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: var(--input-placeholder-color);
}

:-ms-input-placeholder { /* IE 10+ */
    color: var(--input-placeholder-color);
}

:-moz-placeholder { /* Firefox 18- */
    color: var(--input-placeholder-color);
}

/* Placeholder support for content editable field */
.r-field-editable-wrapper {
    position: relative;
}

.r-field-editable-wrapper[placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    width: 60%;
    color: var(--input-placeholder-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    @include media-query-breakpoint('desktop', $type: max) {
        width: 100%;
    }
}

.r-field-editable-wrapper[placeholder]:empty:focus:before {
    content: '';
    display: none;
}

/**
Editable field special classes
 */
.r-field-editable-wrapper {
    display: block;
    position: relative;
    min-height: 20px;
}

.r-field-editable.r-has-icon {
    position: relative;
    padding-left: 40px;
}

.r-field-editable-wrapper .keyword {
    color: var(--primary-color);
    box-shadow: inset 0 -1px 0 var(--primary-color-light);
}
