.r-pagination-control {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

// fix the bugs on IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .r-pagination-control {
        height: 36px;
    }
}

.r-pagination-numbers {
    margin: var(--pagination-buttons-margin);
}

.r-pagination-description {
    margin-left: 0;
}

.r-pagination-input {
    margin-right: 0;
    display: flex;
    width: var(--pagination-input-width)
}

.r-pagination-control .r-button-group .r-button-type-primary:focus {
    box-shadow: none;
}