.r-tile {
    box-sizing: border-box;
    background: var(--tile-background);
    box-shadow: var(--tile-drop-shadow);
    border-radius: var(--tile-border-radius);
}

.r-tile__title {
    display: flex;
    padding: var(--tile-title-padding);

    & h1, & h2, & h3, & h4, & h5 {
        font-family: var(--tile-title-font-family);
        font-weight: var(--tile-title-font-weight);
        line-height: var(--tile-title-line-height);
        padding-right: var(--tile-title-text-right-padding);
        margin: 0;
    }

    &:first-child {
        border-top: none;
        border-radius: var(--tile-border-radius) var(--tile-border-radius) 0 0;
    }
}

.r-tile__subtitle {
    display: flex;
    padding-bottom: var(--tile-subtitle-padding-bottom);
}

.r-tile__title > *,
.r-tile__subtitle > * {
    margin: 0;
    flex: 1 0 50%;
    min-width: 0;
}

.r-tile__content {
    & p, & ul, & ol, & pre, & table, & blockquote, & h1, & h2, & h3, & h4, & h5, & h6 {
        margin: 0;

        & + * {
            margin-top: 1rem;
        }
    }

    & > *:last-child {
        border: none;
        border-radius: 0 0 var(--tile-border-radius) var(--tile-border-radius);
    }
}

.r-tile__content--primary {
    padding: var(--tile-content-padding);
    border-bottom: var(--tile-content-divider);
    background: var(--tile-content-background);
}

.r-tile__content--secondary {
    padding: var(--tile-content-padding);
    border-bottom: var(--tile-content-divider);
    background: var(--tile-content-secondary-background);
}

.r-tile__actions {
    border-top: var(--tile-content-divider);
    padding: var(--tile-actions-padding);
    text-align: right;

    & > * {
        margin-left: 1rem;
    }
}
