.r-avatar {
    max-width: 100%;
    display: inline-block;
    position: relative;
}

.r-avatar-description {
    display: flex;
    align-items: center;
}

.r-avatar-main {
    position: relative;
    overflow: hidden;
    width: 36px;
    height: 36px;
    margin-right: 0;
    text-align: center;
    flex: 0 0 auto;
}

.r-avatar-image-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    figure {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .r-avatar-image {
        width: 100%;
    }
}

.r-avatar.r-avatar-description > .r-avatar-main {
    margin-right: var(--avatar-margin-right);
}

.r-avatar-info * {
    margin: 0;
    line-height: var(--avatar-font-line-height);
}

.r-avatar-info .r-avatar-info-muted-text {
    color: var(--text-muted);
}

.r-avatar-icon-wrapper,
.r-avatar-initials {
    border-radius: var(--avatar-border-radius);
    padding: var(--avatar-padding);
    background: var(--avatar-background);
}

.r-avatar-initials {
    position: relative;
    padding: 0;
    width: 36px;
    height: 36px;
    text-align: center;
}

.r-avatar-initials-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-weight: var(--avatar-main-font-veight);
    font-family: var(--avatar-main-font-family);
    text-transform: uppercase;
}

.r-avatar-initials-gray {
    background-color: var(--avatar-background-gray);
}

.r-avatar-initials-yellow {
    background-color: var(--avatar-background-yellow);
}

.r-avatar-initials-green {
    background-color: var(--avatar-background-green);
}

.r-avatar-initials-accent {
    background-color: var(--avatar-background-accent);
}

.r-avatar-initials-dark-background {
    background-color: var(--avatar-background-dark-background);
}

