.r-pagination-control {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: fit-content;
}

// fix the bugs on IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .r-pagination-control {
        height: 36px;
    }
}

.r-pagination-control-buttons-wrapper {
    display: flex;
    flex: 1 0;
}

.r-pagination-control-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--pagination-buttons-margin);
}
