.r-badge {
    display: inline-block;
    height: auto;
    box-sizing: border-box;
    text-transform: none;
    text-align: center;
    vertical-align: baseline;
    color: var(--badge-text-color);
    border-radius: var(--badge-border-radius);
    border: none;
    padding: var(--badge-padding);
    font-family: var(--badge-font-weight);
    font-weight: var(--badge-font-weight);
    font-size: var(--badge-font-size);
    line-height: var(--badge-font-line-height);
    outline: none;
    white-space: nowrap;
    box-shadow: 0 0 0 2px #FFFFFF;

    &--type-default {
        background: var(--badge-default-background);
        border: var(--badge-default-border);
    }

    &--type-positive {
        background: var(--badge-positive-background);
        border: var(--badge-positive-border);
    }

    &--type-negative {
        background: var(--badge-negative-background);
        border: var(--badge-negative-border);
    }

    &--type-warning {
        background: var(--badge-warning-background);
        border: var(--badge-warning-border);
    }

    &--type-info {
        background: var(--badge-info-background);
        border: var(--badge-info-border);
    }
}
