.r-badge {
    display: inline-block;
    height: auto;
    box-sizing: border-box;
    text-transform: none;
    text-align: center;
    vertical-align: baseline;
    color: var(--badge-text-color);
    border-radius: var(--badge-border-radius);
    border: none;
    padding: var(--badge-padding);
    font-family: var(--badge-font-weight);
    font-weight: var(--badge-font-weight);
    font-size: var(--badge-font-size);
    line-height: var(--badge-font-line-height);
    outline: none;
    white-space: nowrap;
    box-shadow: 0 0 0 2px #FFFFFF;

    &.r-badge-has-icon-close {
        padding-right: var(--space-xs);
    }

    &.r-badge-default {
        background: var(--badge-default-background);
        border: var(--badge-default-border);
    }

    &.r-badge-positive {
        background: var(--badge-positive-background);
        border: var(--badge-positive-border);
    }

    &.r-badge-negative {
        background: var(--badge-negative-background);
        border: var(--badge-negative-border);
    }

    &.r-badge-warning {
        background: var(--badge-warning-background);
        border: var(--badge-warning-border);
    }

    &.r-badge-info {
        background: var(--badge-info-background);
        border: var(--badge-info-border);
    }

    &.r-badge-tag {
        background: var(--badge-tag-background);
        color: var(--badge-tag-color);
        border-radius: var(--badge-tag-border-radius);
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
    }

    &.r-badge-tag-secondary {
        background: var(--badge-tag-secondary-background);
        color: var(--badge-tag-secondary-color);
        border-radius: var(--badge-tag-secondary-border-radius);
        box-shadow: var(--badge-tag-secondary-box-shadow);
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
    }

    & .r-badge-icon {
        cursor: pointer;
        fill: var(--gray-color-dark);
    }
}
