.r-badge {
    display: inline-block;
    height: auto;
    box-sizing: border-box;
    text-transform: none;
    text-align: center;
    vertical-align: baseline;
    color: var(--badge-text-color);
    border-radius: var(--badge-border-radius);
    border: none;
    padding: var(--badge-padding);
    font-family: var(--badge-font-weight);
    font-weight: var(--badge-font-weight);
    font-size: var(--badge-font-size);
    line-height: var(--badge-font-line-height);
    outline: none;
    white-space: nowrap;
    box-shadow: 0 0 0 2px #FFFFFF;

    &--type-default {
        background: var(--badge-default-background);
        border: var(--badge-default-border);
    }

    &--type-positive {
        background: var(--badge-positive-background);
        border: var(--badge-positive-border);
    }

    &--type-negative {
        background: var(--badge-negative-background);
        border: var(--badge-negative-border);
    }

    &--type-warning {
        background: var(--badge-warning-background);
        border: var(--badge-warning-border);
    }

    &--type-info {
        background: var(--badge-info-background);
        border: var(--badge-info-border);
    }

    &--type-tag {
        background: var(--badge-tag-background);
        color: var(--badge-tag-color);
        border-radius: var(--badge-tag-border-radius);
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
    }

    &--icon-close {
        cursor: pointer;
        right: 0;
        top: 0;
        bottom: 0;
        font-weight: var(--badge-tag-font-weight);
        font-style: normal;
        transition: var(--badge-tag-icon-transition);
        margin-left: var(--badge-tag-icon-margin-left);
        position: relative;
        line-height: var(--badge-font-line-height);
        display: block;
        float: right;
        text-align: center;
        width: 16px;
        border-radius: var(--badge-tag-icon-border-radius);

        &:after {
            content: '×';
            color: var(--badge-icon-color);
            font-size: 14px;
        }

        &:focus,
        &:hover {
            background: none;
            color: var(--badge-tag-color);
        }

        &:focus:after,
        &:hover:after {
            color: var(--badge-tag-color);
        }

    }
}