.r-field-label-toggle {
    display: inline-block !important;
    color: var(--text-color) !important;
    line-height: var(--font-line-height-p);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    position: relative;
    padding-left: 28px;
    margin: 0 !important;
    cursor: pointer;
}

.r-field-label-toggle.is-disabled {
    color: var(--text-muted);
}

.r-field-caption-toggle {
    padding-left: 28px;
    margin-top: var(--space-xxs) !important;
}

.r-field-caption {
    display: block;
    color: var(--text-muted);
    line-height: var(--font-line-height-p);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    margin-top: var(--space-xs);
}

