.r-radio {
    position: relative;
}

input.r-field-radio[type=radio] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: var(--space-m);
    width: var(--space-m);
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;

    &:checked ~ .r-field-radio-style {
        background: var(--radio-checked-background);
        box-shadow: var(--radio-checked-box-shadow);
        border: var(--radio-checked-border);
    }

    &:focus ~ .r-field-radio-style {
        background: var(--radio-focus-background);
        box-shadow: var(--radio-focus-box-shadow);
        border: var(--radio-focus-border);
    }

    &:checked ~ .r-field-radio-style .r-icon {
        fill: var(--radio-checked-icon-color);
        opacity: 1;
    }

    &[disabled] ~ .r-field-radio-style {
        background: var(--radio-disabled-background);
        box-shadow: var(--radio-disabled-box-shadow);
    }
}

.r-field-radio-style {
    cursor: pointer;
    box-sizing: border-box;
    background: var(--radio-background);
    height: var(--space-m);
    width: var(--space-m);
    position: absolute;
    top: var(--space-xxs);
    left: var(--space-xxs);
    border-radius: var(--radio-border-radius);
    box-shadow: var(--radio-box-shadow);
    transition: var(--radio-transition);
    border: var(--radio-border);
}

.r-field-radio-style .r-icon {
    position: absolute;
    top: -2px;
    right: -2px;
    opacity: 0;
}

.r-field-label-toggle {
    display: inline-block;
    color: var(--radio-label-color);
    line-height: var(--radio-label-line-height);
    font-size: var(--radio-label-font-size);
    font-weight: var(--radio-label-font-weight);
    position: relative;
    padding-left: var(--radio-label-left-space);
    margin: 0;
    cursor: pointer;
}

.r-field-label-toggle.is-disabled {
    color: var(--radio-label-disabled-color);
}

.r-field-caption-toggle {
    padding-left: var(--radio-caption-left-space);
    margin-top: var(--radio-caption-margin-top);
}

.r-field-caption {
    display: block;
    color: var(--radio-caption-color);
    line-height: var(--radio-caption-line-height);
    font-size: var(--radio-caption-font-size);
    font-weight: var(--radio-caption-font-weight);
    margin-top: var(--space-xs);
}

