/*
// -----------------------------------------------------------------------------
// This file contains all styles related to the grid system.
// -----------------------------------------------------------------------------
*/
.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-left: 3.2rem;
    padding-right: 32px;
    padding-right: 3.2rem;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1099px) {
    .container {
        padding-left: 20px;
        padding-left: 2rem;
        padding-right: 20px;
        padding-right: 2rem;
    }
}

.container-fluid {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-left: 3.2rem;
    padding-right: 32px;
    padding-right: 3.2rem;
    width: 100%;
}

@media screen and (max-width: 1099px) {
    .container-fluid {
        padding-left: 20px;
        padding-left: 2rem;
        padding-right: 20px;
        padding-right: 2rem;
    }
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    margin: -10px;
    margin: -1rem;
}

@media screen and (max-width: 993px) {
    .grid {
        display: block;
    }
}

.grid.grid-unstackable {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1099px) {
    .grid.grid-unstackable {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

.grid + .grid {
    margin-top: 10px;
    margin-top: 1rem;
}

.grid > .grid-item {
    -webkit-box-flex: 1 0;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    padding: 10px;
    padding: 1rem;
}

@media screen and (max-width: 575px) {
    .grid > .grid-item {
        width: 100%;
    }
}

.grid > .grid-item.grid-item-compact {
    width: 0;
}

@media screen and (max-width: 767px) {
    .grid > .grid-item.grid-item-compact {
        width: 100%;
    }
}

.grid-content, .grid-fitted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    margin: -8px;
    margin: -0.8rem;
}

@media screen and (max-width: 1099px) {
    .grid-content, .grid-fitted {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .grid-content, .grid-fitted {
        display: block;
    }
}

.grid-content.grid-unstackable, .grid-unstackable.grid-fitted {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1099px) {
    .grid-content.grid-unstackable, .grid-unstackable.grid-fitted {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

.grid-content + .grid-content, .grid-fitted + .grid-content, .grid-content + .grid-fitted, .grid-fitted + .grid-fitted {
    margin-top: 8px;
    margin-top: 0.8rem;
}

.grid-content > .grid-item, .grid-fitted > .grid-item {
    -webkit-box-flex: 1 0;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    padding: 8px;
}

@media screen and (max-width: 767px) {
    .grid-content > .grid-item, .grid-fitted > .grid-item {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .grid-content.grid-unstackable > .grid-item, .grid-unstackable.grid-fitted > .grid-item {
        width: auto;
        -webkit-box-flex: 1 0;
        -webkit-flex: 1 0;
        -ms-flex: 1 0;
        flex: 1 0;
    }
}

.grid-fitted {
    margin: 0;
}

.grid-fitted.grid-unstackable {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1099px) {
    .grid-fitted.grid-unstackable {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

.grid-fitted + .grid-content, .grid-fitted + .grid-fitted {
    margin-top: 0;
}

.grid-fitted > .grid-item {
    -webkit-box-flex: 1 0;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    padding: 0;
}

@media screen and (max-width: 575px) {
    .grid-fitted > .grid-item {
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .grid-fitted.grid-unstackable > .grid-item {
        width: auto;
        -webkit-box-flex: 1 0;
        -webkit-flex: 1 0;
        -ms-flex: 1 0;
        flex: 1 0;
    }
}

.grid-item.grid-item-primary {
    -webkit-box-flex: 2 1 48rem;
    -webkit-flex: 2 1 48rem;
    -ms-flex: 2 1 48rem;
    flex: 2 1 48rem;
}

.grid-item.grid-item-secondary {
    -webkit-box-flex: 1 0 24rem;
    -webkit-flex: 1 0 24rem;
    -ms-flex: 1 0 24rem;
    flex: 1 0 24rem;
}

.grid-item.grid-item-full {
    -webkit-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.grid-item.grid-item-half {
    -webkit-box-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.grid-item.grid-item-third {
    -webkit-box-flex: 0 0 33.33%;
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
}

.grid-item.grid-item-quarter {
    -webkit-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.grid-item.grid-item-offset-half {
    margin-left: 50%;
}

.grid-item.grid-item-offset-third {
    margin-left: 33.33%;
}

.grid-item.grid-item-offset-quarter {
    margin-left: 25%;
}

@media screen and (max-width: 767px) {
    .grid-item.grid-item-offset-half,
    .grid-item.grid-item-offset-third,
    .grid-item.grid-item-offset-quarter {
        margin: 0;
    }
}

.grid-item-break-half {
    margin-right: 50%;
}

@media screen and (max-width: 767px) {
    .grid-item-break-half {
        margin-right: 0;
    }
}
