/**
* Flex Helpers
*/
.r-no-flex {
    width: auto;
    flex: 0 0 auto !important;
}

.r-stack-xs {
    margin: 0 0 4px 0 !important;
}

.r-align-items-center {
    align-items: center !important;
}

.r-inline-s {
    margin: 0 8px 0 0 !important;
    margin: 0 0.8rem 0 0 !important;
}

/**
* Text color
*/
.r-text-muted {
    color: var(--mono-color-800) !important;
}

/**
* Cursor Type
*/
.r-cursor-pointer {
    cursor: pointer !important;
}
