// -----------------------------------------------------------------------------
// Google Fonts.
// -----------------------------------------------------------------------------

//Roboto
@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Bold.eot');
    src: url('/static/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/static/fonts/Roboto-Bold.woff') format('woff'),
        url('/static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-BoldItalic.eot');
    src: url('/static/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('/static/fonts/Roboto-BoldItalic.woff') format('woff'),
        url('/static/fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Italic.eot');
    src: url('/static/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Roboto-Italic.woff2') format('woff2'),
        url('/static/fonts/Roboto-Italic.woff') format('woff'),
        url('/static/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Medium.eot');
    src: url('/static/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Roboto-Medium.woff2') format('woff2'),
        url('/static/fonts/Roboto-Medium.woff') format('woff'),
        url('/static/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-MediumItalic.eot');
    src: url('/static/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('/static/fonts/Roboto-MediumItalic.woff') format('woff'),
        url('/static/fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Regular.eot');
    src: url('/static/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/static/fonts/Roboto-Regular.woff') format('woff'),
        url('/static/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Light.eot');
    src: url('/static/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/static/fonts/Montserrat-Light.woff') format('woff'),
        url('/static/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Regular.eot');
    src: url('/static/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/static/fonts/Montserrat-Regular.woff') format('woff'),
        url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Medium.eot');
    src: url('/static/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/static/fonts/Montserrat-Medium.woff') format('woff'),
        url('/static/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-SemiBold.eot');
    src: url('/static/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/static/fonts/Montserrat-SemiBold.woff') format('woff'),
        url('/static/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Bold.eot');
    src: url('/static/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/static/fonts/Montserrat-Bold.woff') format('woff'),
        url('/static/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

//Roboto Mono
@font-face {
    font-family: 'Roboto Mono';
    src: url('/static/fonts/RobotoMono-Bold.eot');
    src: url('/static/fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('/static/fonts/RobotoMono-Bold.woff') format('woff'),
        url('/static/fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/static/fonts/RobotoMono-Medium.eot');
    src: url('/static/fonts/RobotoMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/RobotoMono-Medium.woff2') format('woff2'),
        url('/static/fonts/RobotoMono-Medium.woff') format('woff'),
        url('/static/fonts/RobotoMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/static/fonts/RobotoMono-Regular.eot');
    src: url('/static/fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('/static/fonts/RobotoMono-Regular.woff') format('woff'),
        url('/static/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, .h1 {
    font-size: $h1;
    font-weight: $medium;
    font-family: var(--secondary-font-stack), 'Times New Roman', Times, serif;
}

h1, .h1 {
    font-size: $h1;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: -0.6px;
    font-family: var(--primary-font-stack);
    line-height: $space-rem-default;
}

h2, .h2 {
    font-size: $h2;
    letter-spacing: 0.15px;
    font-weight: $regular;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--primary-font-stack);
    line-height: $space-rem-default;
}

h3, .h3 {
    font-size: $h3;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: $regular;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: var(--primary-font-stack);
    line-height: $space-rem-default;
}

h4, .h4, h5, .h5, h6, .h6 {
    font-size: $h4;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: var(--primary-font-stack);
    font-weight: $regular;
    line-height: $space-rem-default;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0px;
    margin-bottom: 20px;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

code {
    font-family: var(--code-font-stack);
    white-space: nowrap;
    // color: $accent;
    font-weight: $medium;
}

pre {
    display: block;
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px var(--faint-gray-color);
    padding: $inset-m;
    background: var(--background-color);
    font-family: var(--code-font-stack);
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre code,
code.text {
    color: var(--text-color);
}

/* Keyboard keys */
kbd {
    font-family: var(--primary-font-stack);
    border: 0;
    box-shadow: 0 0 0 1px var(--light-gray-color), 0 0.18em 0 0 #ffffff, 0 0.18em 0 1px var(--light-gray-color);
    color: var(--text-color);
    height: auto;
    margin: 0 0.4rem;
    font-size: 1.2rem;
    font-weight: $medium;
    line-height: 1.4rem;
    min-width: 2.2rem;
    padding: 0.3rem 0.7rem;
    background: #FFFFFF;
    border-radius: $border-radius - 2;
    box-sizing: border-box;
    cursor: default;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
}

hr {
    border: 1px solid;
    margin: -1px 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

a {
    line-height: $line-height;
    color: var(--primary-color);
    text-decoration: none;

    &:focus {
        text-decoration: none;
        box-shadow: 0 0 0 2px var(--primary-color-transparent);
        border-radius: $border-radius;
    }
}

strong {
    font-weight: $medium;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

address {
    font-style: normal;
    p {
        margin: 0;
    }
    button {
        text-transform: inherit!important;
    }
}
