.tab {
    flex-grow: 1;
    padding-left: 0;
    list-style: none;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
}

.tab-divided {
    border-bottom: 1px solid var(--tab-divided-border-bottom-color);
}

.tab-item {
    display: flex;
    flex: 0 0 auto;
}

.tab.tab-fluid .tab-item {
    flex: 1 0 auto;
}

.tab-item .tab-link {
    line-height: 1;
    position: relative;
    color: var(--tab-link-color);
    border-bottom: 3px solid transparent;
    padding: var(--tab-link-padding);
    margin: var(--tab-link-margin);
    cursor: pointer;
    transition: var(--tab-link-transition);
    text-decoration: none;
}

.tab-item .tab-link:hover {
    text-decoration: none;
    color: var(--tab-link-hover-color);
    border-bottom: 3px solid var(--tab-link-hover-border-bottom-color);
}

.tab-item .tab-link.is-active {
    color: var(--tab-link-active-color);
    border-bottom: 3px solid var(--tab-link-active-border-bottom-color);
}

.tab-item .tab-link.has-error {
    color: var(--tab-link-error-color);
}

.tab-item .tab-link.is-active.has-error {
    border-bottom: 3px solid var(--tab-link-error-border-bottom-color);
}

.tab-item:first-child .tab-link {
    margin-left: var(--tab-link-first-margin-left);
}

.tab-content {
    padding: var(--tab-content-padding);
}

.tile-content .tab-content {
    padding: var(--tab-content-tile-padding);
}

.tab-content.tab-content-fitted {
    padding: 0;
}

.tab-content-item {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.tab-content-item.is-active {
    clip: auto;
    height: auto;
    margin: auto;
    overflow: visible;
    padding: initial;
    position: relative;
    width: auto;
}
